---
import { Image } from "astro:assets";
import heroImgSet from "../../assets/Image/img-set1.png";
import heroImgSet1 from "../../assets/Image/img-set2.png";
import heroImgSet2 from "../../assets/Image/img-set3.png";
import heroImgSet3 from "../../assets/Image/img-set4.png";
import heroImgSet4 from "../../assets/Image/img-set5.png";
import heroImgSet5 from "../../assets/Image/img-set6.png";
import heroImgSet6 from "../../assets/Image/img-set7.png";
import heroImgSet7 from "../../assets/Image/img-set8.png";
---

<section
  class="md:pt-[112px] md:pb-[160px] pt-[124px] pb-[124px] overflow-hidden"
>
  <div
    class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto relative md:pb-[96px] pb-0"
  >
    <Image
      src={heroImgSet}
      alt="image"
      class="lg:w-[168px] w-[133.89px] lg:h-[113px] h-[89.21px] img-set1 absolute object-contain floating"
      data-speed="0.2"
      data-float="2"
    />
    <Image
      src={heroImgSet1}
      alt="image"
      class="w-[50px] h-[50px] img-set2 absolute object-contain floating"
      data-speed="0.5"
      data-float="3"
    />
    <Image
      src={heroImgSet2}
      alt="image"
      class="lg:w-[154px] w-[102px] lg:h-[124px] h-[82px] img-set3 absolute object-contain floating"
      data-speed="0.3"
      data-float="4"
    />
    <Image
      src={heroImgSet3}
      alt="image"
      class="w-[54px] h-[54px] img-set4 absolute object-contain floating"
      data-speed="0.6"
      data-float="6"
    />
    <Image
      src={heroImgSet4}
      alt="image"
      class="w-[154px] h-[169.63px] img-set5 absolute object-contain floating"
      data-speed="0.4"
      data-float="1"
    />
    <Image
      src={heroImgSet5}
      alt="image"
      class="w-[54px] h-[54px] img-set6 absolute object-contain floating"
      data-speed="0.2"
      data-float="2"
    />
    <Image
      src={heroImgSet6}
      alt="image"
      class="w-[154.13px] h-[184.96px] img-set7 absolute object-contain floating"
      data-speed="0.5"
      data-float="3"
    />
    <Image
      src={heroImgSet7}
      alt="image"
      class="w-[50px] h-[50px] img-set8 absolute object-contain floating"
      data-speed="0.1"
      data-float="4"
    />
    <div class="text-center items-center max-w-[990px] mx-auto">
      <div
        class="md:text-[16px] text-[10px] font-medium md:leading-[20px] leading-[14px] text-textPrimary bg-cardColor md:py-[8.5px] py-[5px] md:px-[16px] px-[12px] font-figtree rounded-[40px] inline"
      >
        ABOUT US
      </div>
      <h1
        data-aos="fade-up"
        data-aos-duration="500"
        data-aos-delay="100"
        class="xl:text-[80px] lg:text-[60px] md:mt-[48px] about-head-p mt-[32px] text-[48px] text-center leading-[42px] lg:leading-[64px] text-textPrimary md:font-black xl:leading-[84px] font-ppradio mb-[24px]"
      >
        We knew there had to be a better way to find a ring
      </h1>

      <p
        data-aos="fade-up"
        data-aos-duration="700"
        data-aos-delay="200"
        class="md:text-xl text-[16px] lg:px-5 about-head-p text-center leading-[20px] md:leading-[24px] text-textSecondary font-figtree"
      >
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique. Duis cursus, mi quis viverra
        ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.
      </p>
    </div>
  </div>
</section>

