---
import { Image } from "astro:assets";
import heroImg from "../../assets/Image/jws-hero.png";
import userJewellers from "../../assets/Image/Jewellers-avtar.png";
import btnIcon from "../../assets/icons/btn-icon.svg";
import heroImgMobile from "../../assets/Image/jws-hero-mobile.png";
import img1 from "../../assets/Image/ourJewHero-1.jpg";
import img2 from "../../assets/Image/ourJewHero-2.jpg";
import img3 from "../../assets/Image/ourJewHero-3.jpg";
import "../../styles/ourJewellers.css";
---

<section class="md:py-[112px] pt-[36px] pb-[24px]">
  <div class="max-w-screen-2xl lg:px-20 px-[24px] mx-auto">
    <div class="grid xl:grid-cols-2 xl:gap-20 gap-[48px] items-center">
      <div
        class="flex flex-col items-center md:items-start md:justify-start justify-center"
      >
        <div
          class="md:text-[16px] text-[10px] font-medium md:leading-[20px] leading-[14px] text-textPrimary bg-cardColor md:py-[8px] py-[5px] md:px-[16px] px-[12px] font-figtree rounded-[40px] inline"
        >
          OUR JEWELLERS
        </div>

        <h1
          class="md:text-[80px] md:mt-[48px] mt-[32px] text-[48px] text-center md:text-start leading-[42px] text-textPrimary font-black md:leading-[84px] font-ppradio md:mb-6 mb-[16px]"
        >
          The difference <br /> is the maker
        </h1>

        <p
          class="md:text-xl text-[16px] text-center md:text-start leading-[20px] md:leading-[24px] text-textSecondary font-figtree md:mb-12 mb-[36px]"
        >
          A truly exceptional ring is born from a partnership between a
          visionary client and a skilled artist. We've built our private
          community by seeking out the most talented independent jewellers in
          Britain.
        </p>
        <button
          type="button"
          class="spinBtn cursor-pointer bg-btnPrimary relative btn-after-jewellers z-[9] text-white text-base leading-5 py-2 mx-auto md:ml-0 md:min-h-[56px] min-h-[48px] min-w-[212px] px-6 rounded-full font-figtree font-medium flex items-center gap-3"
        >
          <Image src={btnIcon} class="btnIcon w-5 h-5" alt="image" />
          Find Your Jeweller
        </button>

        <div
          class="flex md:mt-[84px] mt-[52px] md:flex-row flex-col items-center gap-2"
        >
          <div>
            <Image src={userJewellers} alt="" />
          </div>
          <p class="md:text-base text-textPrimary text-[14px] font-figtree">
            100+ jewellers on the platform
          </p>
        </div>
      </div>

      <div class="flex justify-center xl:justify-end w-full xl:mt-[-15rem]">
        <div
          class="md:max-w-[600px] max-w-[320px] lg:min-h-[400px] min-h-[350px] md:min-h-[480px] xl:min-h-none relative h-full w-full"
        >
          <div class="card user-card floating" data-speed="0.2" data-float="2">
            <Image
              src={img1}
              class="user-card-img ourImg object-cover object-top"
              alt="image"
            />
            <div class="user-text px-2 pt-3 md:pt-4">
              <p
                class="text-[10px] md:text-base leading-4 md:leading-5 font-figtree text-textSecondary font-normal"
              >
                Hey! I need a special ring for a special occasion.
              </p>
            </div>
          </div>

          <!-- Budget Info -->
          <div class="info-box floating" data-speed="0.4" data-float="6">
            <div class="w-[65px] sm:w-[75px] md:w-[89px] text-center">
              <span
                class="font-figtree font-bold text-textPrimary text-sm md:text-base lg:text-[18px] leading-4 md:leading-[22px] text-center"
              >
                £1500
              </span><span
                class="font-figtree text-textSecondary text-xs md:text-[18px] leading-4 md:leading-[22px] text-center block font-normal"
                >budget</span>
            </div>
            <span class="border-r border-[#F2F3F7]"></span>
            <div class="w-[65px] sm:w-[75px] md:w-[89px] text-center">
              <span
                class="font-figtree font-bold text-textPrimary text-sm md:text-base lg:text-[18px] leading-4 md:leading-[22px] text-center"
              >
                5-6
              </span>
              <span
                class="font-figtree text-textSecondary text-xs md:text-[18px] leading-4 md:leading-[22px] text-center block font-normal"
                >weeks</span>
            </div>
          </div>
          <div class="layer-green"></div>
          <div class="layer-pink"></div>
          <div class="layer-pink1"></div>

          <!-- Jeweller -->
          <div
            class="card jeweller-card floating"
            data-speed="0.6"
            data-float="1"
          >
            <Image
              src={img2}
              class="jeweller-card-img ourImg object-cover object-top"
              alt="image"
            />
            <div class="pt-4 px-2">
              <h3
                class="font-figtree font-bold text-[12px] md:text-[21px] leading-5 md:leading-[26px] uppercase text-textPrimary mb-1"
              >
                LEONOR JEWELLERY
              </h3>
              <p
                class="text-[10px] md:text-base leading-4 md:leading-5 font-figtree text-textSecondary font-normal -tracking-normal"
              >
                I’ll make the perfect one for you!
              </p>
            </div>
          </div>

          <!-- Work -->
          <div class="card work-card floating" data-speed="0.3" data-float="4">
            <Image
              src={img3}
              class="work-card-img ourImg object-cover"
              alt="image"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
